<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User View</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css} "/>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.js}"></script>

</head>
<body>
<a class="link-danger" href="https://www.google.com">Google Link</a>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
</body>
</html>