<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User View</title>

    <link rel="icon" type="image/png" sizes="64x64" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.js}"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js" type="application/javascript"></script>
    <script src="js/users.js" type="application/javascript" defer></script>

</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="img/favicon.png" width="32" height="32" class="d-inline-block align-top" alt="">
            <h3 style="float: right;"> CS-5394/4398 Library Application</h3>
        </a>
    </nav>

    <div class="alert alert-primary" role="alert">
        User's view, including their checked out items and fees (if any).
    </div>

    <hr/>

    <label for="userId">User ID: </label>
    <input type="text" id="userId" />

    <button id="loadDataBtn" class="btn-primary">Load User Data</button>

    <br/>
    <br/>
    <br/>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Checked-Out Items</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Inventory</button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="libraryTbl">
                <h4>User's Inventory</h4>
                <div class="border rounded">
                    <table id="userTable" class="display ">
                    </table>
                </div>
                <br/>
                <div id="userBalance">User balance: </div>

                <p>Select an item from the "User's Inventory" above to return, then click "Return" below. </p>
                <div>
                    <button id="returnItemBtn" class="btn-primary" style="margin: 5px;">Return</button>
                    <button id="renewItemBtn" class="btn-primary" style="margin: 5px;">Renew</button>
                    <button id="payBalanceBtn" class="btn-primary" style="margin: 5px;">Pay Balance</button>
                    <button id="refreshUsrDataBtn" class="btn-primary" style="margin: 5px;">Refresh</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="libraryTbl">
                <h4>Library Inventory</h4>
                <div class="border rounded">
                    <table id="itemsTable" class="display" style="width: 100% !important">
                    </table>
                </div>
                <br/>
                <button id="checkoutItemBtn" class="btn-primary">Check Out</button>
                <button id="reserveItemBtn" class="btn-primary">Reserve</button>
                <button id="refreshLibDataBtn" class="btn-primary">Refresh</button>
            </div>
        </div>
    </div>

    <br/>

    <footer id="ftr" class="py-4 bg-dark flex-shrink-0">
        <div class="container text-center">
            <a href="https://www.txstate.edu/" class="text-white-50">&copy; Texas State University</a>
        </div>
    </footer>
</body>
</html>